@model MVC_LINE.Models.UserDATA

@using (Html.BeginForm())
{
    <div class="container">

        <h2>@ViewBag.Head @ViewBag.Title</h2>

        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="userid" name="userid" placeholder="@Model.USERID">
        </div>

        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="@Model.PASSWORD">
        </div>

        <input type="submit" class="form-group btn btn-info" value="Login" />

    </div>
}



